<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="assets/bike_blue.png" width="30" height="30" class="d-inline-block align-top" alt="">
    BikeApp
  </a>
  <span class="ml-auto mr-2 mr-md-5 text-uppercase">{{userDisplayName}}</span>
  <button class="btn btn-outline-success my-2 my-sm-0" *ngIf="isLoggedIn; else loginTemplate" (click)="logout()">
    Logout
  </button>
  <ng-template #loginTemplate>
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="login()">Login with Google</button>
  </ng-template>
</nav>
